﻿@{
    ViewBag.Title = "Global Map";
}
<h2>Mapa Global</h2>


<div class="row">
    <div class="col-md-12">
        <input type="button" value="Cargar Mapa" class="form-control" />
    </div>
    <br />
    <div class="col-md-12">
        <div id="map-canvas" style="width: 100%; height: 600px;">

        </div>
    </div>  
</div>

@section scripts
{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
}