﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wallke Seeder</h1>
    <p class="lead">Seeding Administration from diferent sources, for Wallke</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>From Foursquare</h2>
        <p>
            Get places from Foursquare.
        </p>
        <p>
            @Html.ActionLink("Go", "Foursquare", "Seeding", null,  new { @class = "btn btn-default" } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>From Google Places</h2>
        <p>Get places from Google</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>