﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@{ Html.RenderPartial("_WallkeMap");  }*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Images/foursquare-nuevo-logo.png" alt="Foursquare" />
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">
            <form id="foursquareParams" action="/" method="post">
                <input type="text" name="latitudeStart" id="latitudeStart" placeholder="Start latitude"><br>
                <input type="text" name="longitudeStart" id="longitudeStart" placeholder="Start longitude"><br>
                <input type="text" name="latitudeEnd" id="latitudeEnd" placeholder="End latitude"><br>
                <input type="text" name="longitudeEnd" id="longitudeEnd" placeholder="End longitude"><br>
                <input type="submit" value="Start Extraction" id="btnStartExtraction"/>
            </form> 
        </div>    
        <div id="progressBar" class="col-md-4" style="display: none;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Processing...</span>
                    Processing...
                </div>
            </div>

            <div id="processInfo" style="display: none;">

            </div>
        </div>   
    </div>

</div>

@section css
{
    <link rel="stylesheet" href="/Content/styles.css">
}

@section scripts
{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" ></script>
    @*<script type="text/javascript" src="/Scripts/scripts.js"></script>*@
    <script type="text/javascript" src="/Scripts/foursquareScripts.js"></script>
}